EXASOL_DOCKER_TAG=latest
EXASOL_EXTERNAL_PORT=9563
EXASOL_HOST=exasoldb
EXASOL_PORT=8563
EXASOL_SCHEMA=SPACE_TRAFFIC
EXASOL_USER=sys
EXASOL_PASSWORD=exasol
EXASOL_ODBC_DRIVER=EXASOL
EXASOL_ODBC_DRIVER_URL=
EXASOL_ODBC_DOWNLOAD_PAGE=https://downloads.exasol.com/clients-and-drivers/odbc
ETL_INTERVAL_HOURS=24
WEB_PORT=8085
ETL_DATA_DIR=/opt/space-traffic-etl/data
SPACEDEVS_LAUNCH_URL=https://ll.thespacedevs.com/2.2.0/launch/
UCS_DOWNLOAD_URL=https://www.ucs.org/media/11492
UCS_RAW_FILE_EXTENSION=.xlsx
