EXASOL_DOCKER_TAG=2025.1.11
EXASOL_EXTERNAL_PORT=9563
EXASOL_HOST=exasoldb
EXASOL_PORT=8563
EXASOL_SCHEMA=SPACE_TRAFFIC
EXASOL_USER=sys
EXASOL_PASSWORD=exasol
EXASOL_ODBC_DRIVER=EXASOL
ETL_INTERVAL_HOURS=24
UCS_DOWNLOAD_URL=https://www.ucsusa.org/resources/satellite-database
UCS_RAW_FILE_EXTENSION=.html
SPACEDEVS_LAUNCH_URL=https://ll.thespacedevs.com/2.2.0/launch/
ETL_DATA_DIR=/opt/space-traffic-etl/data
WEB_PORT=8085
WEB_KEYS_DIR=/opt/space-traffic-web/keys
